
.pagination {
  margin-top: 8px;
  padding: 0;
  border-top: thin solid #4a484d;
}
.pagination ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  height: 48px;
}
.pagination ul li {
  display: inline-block;
  margin: 16px 0;
}
.pagination ul li a {
  color: #142d6e;
  border: thin solid #4a484d;
  border-radius: 2px;
  margin: 4px;
  padding: 8px 12px;
  text-decoration: none;
  text-align: center;
  font-size: 0.75rem;
}
.pagination ul li a.active {
  background-color: #4a484d;
  color: #f2f2f2;
}
.pagination ul li a:hover {
  background-color: #b6b6b6;
}
